# Ignorar arquivos do sistema
node_modules/
.DS_Store

# Ignorar arquivos do Python
__pycache__/
*.py[cod]
venv/
.env

firebase_credentials.json
__pycache__/
venv/
.env

# Ignorar uploads de teste
backend/uploads/